{% extends "chapter15/base.html" %}
{% block chapter_no %}15{% endblock %}
{% block exercise_no %}02{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
<div class="right">
    <div id="0">
        <h3>2D上下文</h3>
        <p>使用2D绘图上下文提供的方法,可以绘制简单的2D图形.2D上下文的坐标起始于左上角(0,0).左右的坐标都是基于这个原点进行计算.操作的结果取决于两个属性: fillStyle 和 strokeStyle.</p>
    </div>
    <br>
    <div id="1">
        <h4>2.1 填充和描边</h4>
        <p>2D 上下文的两种基本绘图操作是填充和描边。填充,就是用指定的样式(颜色、渐变或图像)填
充图形;描边,就是只在图形的边缘画线。</p>
        <p>这两个属性的值可以是字符串、渐变对象或模式对象,而且它们的默认值都是 "#000000" 。如果为
它们指定表示颜色的字符串值,可以使用 CSS 中指定颜色值的任何格式,包括颜色名、十六进制码、
rgb 、 rgba 、 hsl 或 hsla 。</p>
        <pre><code>
            var drawing = document.getElementById("drawing");

            //确定浏览器支持canvas元素
            if(drawing.getContext) {
                var context = drawing.getContext("2d");
                context.strokeStyle = "red";
                context.fillStyle = "#00f";
            }
        </code></pre>
        <p>所有涉及描边和填充的操作都将使用这两个样式,直至重新设置这两个值。如前所述,这两个属
性的值也可以是渐变对象或模式对象。</p>
        <br>
    </div>
    <div id="2">
        <h4>2.2 绘制矩形</h4>
        <p>矩形是唯一一种可以直接在 2D 上下文中绘制的形状。与矩形有关的方法包括 fillRect() 、
strokeRect() 和 clearRect() 。这三个方法都能接收 4 个参数:矩形的 x 坐标、矩形的 y 坐标、矩形
宽度和矩形高度。这些参数的单位都是像素。</p>
    <p>最后,clearRect()方法用于清除画布上个矩形区域.本质上,这个方法可以把绘制上下文中的某
一矩形区域变透明。通过绘制形状然后再清除指定区域,就可以生成有意思的效果,例如把某个形状切
掉一块。</p>
        <p><span class="ext">2DFillRectExample01.htm</span></p>
        <pre><code>
              var drawing = document.getElementById("drawing");
              //确定浏览器支持canvas元素
              if (drawing.getContext) {
                  var context = drawing.getContext("2d");

              /*
               * 根据 Mozilla 的文档
               * http://developer.mozilla.org/en/docs/Canvas_tutorial:Basic_usage
               */

                  //绘制红色矩形
                  context.fillStyle = "#ff0000";
                  context.fillRect(10,10,50,50);

                  //绘制半透明的蓝色矩形
                  context.fillStyle = "rgba(0, 0, 255, 0.5)";
                  context.fillRect(30, 30, 50, 50);

                  //绘制红色边框
                  context.strokeStyle = "#f00";
                  context.strokeRect(81, 81, 50, 50);

                  //绘制蓝色半透明边框
                  context.strokeStyle = "rgba(0, 0, 255, 0.5)";
                  context.strokeRect(132, 132, 50, 50);

                  //清除矩形
                  context.clearRect(40, 40, 10, 10);
              }
        </code></pre>
        <canvas id="drawing" width="200" height="200">A drawing of Something.</canvas>
        <br>
    </div>
    <div id="3">
        <h4>2.3 绘制路径</h4>
        <p>2D 绘制上下文支持很多在画布上绘制路径的方法。通过路径可以创造出复
杂的形状和线条。要绘制路径,首先必须调用 <span class="dsp">beginPath()</span> 方法,表示要开始
绘制新路径。然后,再通过调用下列方法来实际地绘制路径。</p>
        <ul>
            <li>arc(x, y, radius, startAngle, endAngle, counterclockwise)</li>
            <p class="grey">以(x,y)为圆心绘制一条弧线,弧线半径为radius, 起止(弧度表示)分别为startAngle和endAngle.最后一个参数为是否逆时针方向计算,默认false顺时针.</p>
            <li>arcTo(x1, y1, x2, y2, radius)</li>
            <p class="grey">从上一点开始绘制一条曲线,到(x2,y2)为止,并且以给定的半径穿过(x1, y1);</p>
            <li>bezierCurveTo(c1x, c1y, c2x, c2y, x, y)</li>
            <p class="grey">从上一点开始绘制一条曲线,到(x,y)为止,并且以(c1x, c1y)和(c2x, c2y)为控制点.</p>
            <li>lineTo(x, y)</li>
            <li>moveTo(x,y)</li>
            <li>quadraticCurveTo(cx, cy, x, y)</li>
            <p class="grey">从上一点开始绘制一条二次曲线,到(x,y)为止,并且以(cx, cy)作为控制点.</p>
            <li>rect(x, y, width, height)</li>
            <p class="grey">从点(x, y)开始绘制一个矩形,这是绘制矩形路径,不是矩形形状.</p>
        </ul>
        <p>创建了路径后,接下来有几种可能的选择:</p>
        <p>如果想绘制一条连接到路径起点的线条,可以调用closePath() ;</p>
        <p>如果路径已经完成,你想用 fillStyle 填充它,可以调用 fill() 方法;</p>
        <p>另外,还可以调用 stroke() 方法对路径描边,描边使用的是 strokeStyle;</p>
        <p>最后还可以调用 clip() ,这个方法可以在路径上创建一个剪切区域.</p>
        <p>此外,isPathInPath(x,y)方法用来确定(x,y)是否在路径上.</p>
        <p><span class="ext">2DPathExample01.htm</span></p>
        <pre><code>
            var drawing2 = document.getElementById("drawing2");

          //确定浏览器支持canvas
          if (drawing2.getContext) {
            var context = drawing2.getContext("2d");

            //开始路径
            context.beginPath();

            //绘制外圈
            context.arc(100, 100, 99, 0, 2*Math.PI, false);

            //绘制内圈
            context.moveTo(194, 100);
            context.arc(100, 100, 94, 0, 2*Math.PI, false);

            //绘制分针
            context.moveTo(100, 100);
            context.lineTo(100, 15);

            //绘制时针
            context.moveTo(100, 100);
            context.lineTo(35, 100);

            //描边路径
            context.stroke();
          }
        </code></pre>
        <canvas id="drawing2" width="200" height="200">A drawing of Something.</canvas>
        <p></p>
        <br>
    </div>
    <div id="4">
        <h4>2.4 绘制文本</h4>
        <p>绘制文本主要有两个方法: fillText() 和 strokeText() 。这两个方法都可以接收 4 个参数:要绘制的文本字符串、x 坐标、y 坐标和可选的最大像素宽度。而且,这两个方法都以下列 3 个属性为基础。</p>
        <ul>
            <li>font</li>
            <p class="grey">文本样式,大小和字体,例如"10px Arial"</p>
            <li>textAlign</li>
            <p class="grey">表示文本的对齐方式,可能值有:"start"(推荐), "end"(推荐), "left"(不推荐), "right"(不推荐), "center"</p>
            <li>textBaseline</li>
            <p class="grey">表示文本的基线,可能值有"top", "hanging", "middle", "alphabetic", "ideographic"和"bottom"</p>
        </ul>
            <p>这几个属性都有默认值,因此没有必要每次使用它们都重新设置一遍值。 fillText() 方法使用
fillStyle 属性绘制文本,而 strokeText() 方法使用 strokeStyle 属性为文本描边。相对来说,还是使用 fillText() 的时候更多,因为该方法模仿了在网页中正常显示文本。</p>
        <p><span class="ext">2DTextExampl02.htm</span></p>
        <pre><code>
            context.font = "bold 14px Arial";
            context.textAlign = "center";
            context.textBaseline = "middle";
            context.fillText("12", 100, 20);
        </code></pre>
        <p>2D 上下文提供了辅助确定文本大小的方法 measureText() 。</p>
        <br>
    </div>
    <div id="5">
        <h4>2.5 变换</h4>
        <p>通过上下文的变换,可以把处理后的图像绘制到画布上。2D 绘制上下文支持各种基本的绘制变换。创建绘制上下文时,会以默认值初始化变换矩阵,在默认的变换矩阵下,所有处理都按描述直接绘制。为绘制上下文应用变换,会导致使用不同的变换矩阵应用处理,从而产生不同的结果。</p>
        <ul>
            <li>rotate(angle)</li>
            <p class="grey">绕原点旋转图像angle弧度</p>
            <li>scale(scaleX, scaleY)</li>
            <p class="grey">缩放图像,默认值都是1</p>
            <li>translate(x, y)</li>
            <p class="grey">将原点移动到(x, y).执行这个变换后,坐标(0,0)会变成由之前(x,y)表示的点.</p>
            <li>transform(m1_1, m1_2, m2_1, m2_2, dx, dy)</li>
            <p class="grey">直接修改变换矩阵,方式是乘以如下矩阵.</p>
            <pre><code>
                m1_1 m1_2 dx
                m2_1 m2_2 dy
                  0   0   1
            </code></pre>
            <li>setTransform(m1_1, m1_2, m2_1, m2_2, dx, dy)</li>
            <p class="grey">将变换矩阵重置为默认状态,然后再调用transform</p>
        </ul>
        <p><span class="ext">2DTransformExample01.htm</span></p>
        <pre><code>
            var drawing3 = document.getElementById("drawing3");

            //确认浏览器支持canvas
            if (drawing3.getContext) {
            var context = drawing3.getContext("2d");

            //开始路径
            context.beginPath();

            //绘制外圈
            context.arc(100, 100, 99, 0, 2 * Math.PI, false);

            //绘制内圈
            context.moveTo(194, 100);
            context.arc(100, 100, 94, 0, 2 * Math.PI, false);

            //变换原点
            context.translate(100, 100);

            //旋转表针
            context.rotate(1);

            //绘制分针
            context.moveTo(0, 0);
            context.lineTo(0, -85);

            //绘制时针
            context.moveTo(0, 0);
            context.lineTo(-65, 0)

            //描边路径
            context.stroke();
            }
        </code></pre>
        <canvas id="drawing3" width="200" height="200">Your Browser Not Support Canvas!</canvas>
        <p>如果你知道将来还要返回某组属性与变换的组合,可以调用 save() 方法。
调用这个方法后,当时的所有设置都会进入一个栈结构,得以妥善保管。然后可以对上下文进行其他修
改。等想要回到之前保存的设置时,可以调用 restore() 方法,在保存设置的栈结构中向前返回一级,
恢复之前的状态。连续调用 save() 可以把更多设置保存到栈结构中,之后再连续调用 restore() 则可
以一级一级返回。</p>
        <p><span class="ext">2DSaveRestoreExample01.htm</span></p>
        <pre><code>
            context.fillStyle = "#f00";
            context.save();

            context.fillStyle = "#0f0";
            context.translate(100, 100);
            context.save();

            context.fillStyle ="#00f";
            context.fillRect(0, 0, 100, 200); //从点(100, 100) 开始绘制矩形

            context.restore();
            context.fillRect(10, 10, 100, 200); //从点(100, 100)开始绘制绿色矩形

            context.restore();
            context.fillRect(0, 0, 100, 200); //从点(0, 0)开始绘制红色矩形.
        </code></pre>
        <p><span class="epd">注意</span>:save() 方法保存的只是对绘图上下文的设置和变换,不会保存绘图上下文的
内容。</p>
        <canvas id="drawing4" width="200" height="200">Your Browser Not Support Canvas!</canvas>
        <br>
    </div>
    <div id="6">
        <h4>2.6 绘制图像</h4>
        <p>drawImage() 方法的这种调用方式总共需要传入 9 个参数:要绘制的图像、源图像的 x 坐标、源图像的 y 坐标、源图像的宽度、源图像的高度、目标图像的 x 坐标、目标图像的 y 坐标、目标图像的宽度、目标图像的高度。</p>
        <p>第一个参数: 可以是html的img元素, 也可以是另一个canvas, 结果通过toDataURL()方法获得,但是图像不能来自其他域否则toDataURL会抛出错误.后面六个是非必要参数.</p>
        <br>
    </div>
    <div id="7">
        <h4>2.7 阴影</h4>
        <p>2D 上下文会根据以下几个属性的值,自动为形状或路径绘制出阴影。</p>
        <ul>
            <li>shadowColor</li>
            <p class="grey">用CSS颜色格式表示的阴影颜色,默认黑色.</p>
            <li>shadowOffsetX</li>
            <p class="grey">形状或路径x轴方向的阴影偏移量,默认为0.</p>
            <li>shadowOffsetY</li>
            <p class="grey">形状或路径y轴方向的阴影偏移量, 默认为0.</p>
            <li>shadowBlur</li>
            <p class="grey">模糊的像素, 默认0, 及不模糊</p>
        </ul>
        <p><span class="ext">2DFillRectShadowExample01.htm</span></p>
        <pre><code>
        var context = drawing5.getContext("2d");

        //设置阴影
        context.shadowOffsetX = 5;
        context.shadowOffsetY = 5;
        context.shadowBlur = 4;
        context.shadowColor = "rgba(0, 0, 0, .5)";

        //绘制红色矩形
        context.fillStyle = "#ff0000";
        context.fillRect(10, 10, 50, 50);

        //绘制蓝色矩形
        context.fillStyle = "rgba(0, 0, 255, 1)";
        context.fillRect(30, 30, 50, 50);
        </code></pre>
        <canvas id="drawing5" width="200" heigh="200">Your Browser Not Support Canvas!</canvas>
        <br>
    </div>
    <div id="8">
        <h4>2.8 渐变</h4>
        <p>渐变由 CanvasGradient 实例表示,很容易通过 2D 上下文来创建和修改。要创建一个新的线性渐
变,可以调用 createLinearGradient() 方法。这个方法接收 4 个参数:起点的 x 坐标、起点的 y 坐标、终点的 x 坐标、终点的 y 坐标。调用这个方法后,它就会创建一个指定大小的渐变,并返回CanvasGradient 对象的实例。</p>
        <p>创建了渐变对象后,下一步就是使用 addColorStop() 方法来指定色标。这个方法接收两个参数:
色标位置和 CSS 颜色值。色标位置是一个 0(开始的颜色)到 1(结束的颜色)之间的数字。</p>
        <p><span class="ext">2DFillRectGradientExample01.htm</span></p>
        <pre><code>
            var gradient = context.createLinearGradient(30, 30, 70, 70)
            gradient.addColorStop(0, "white");
            gradient.addColorStop(0, "black");
        </code></pre>
        <canvas id="drawing6" width="150" heigh="150">Your Browser Not Support Canvas!</canvas>
        <p>要创建径向渐变(或放射渐变),可以使用 createRadialGradient() 方法。这个方法接收 6 个参
数,对应着两个圆的圆心和半径。前三个参数指定的是起点圆的原心(x 和 y)及半径,后三个参数指定的是终点圆的原心(x 和 y)及半径。</p>
        <p><span class="ext">2DFillRectGradientExample04.htm</span></p>
        <pre><code>
            var gradient = context.createRadialGradient(55, 55, 10, 55, 55, 30);
            gradient.addColorStop(0, "white");
            gradient.addColorStop(1, "black");

            //绘制红色矩形
            context.fillStyle = "#ff0000";
            context.fillRect(10, 10, 50, 50);

            //绘制渐变矩形
            context.fillStyle = gradient;
            context.fillRect(30, 30, 50, 50);
        </code></pre>
        <canvas id="drawing7" width="150" heigh="150">Your Browser Not Support Canvas!</canvas>
        <br>
    </div>
    <div id="9">
        <h4>2.9 模式</h4>
        <p>模式其实就是重复的图像,可以用来填充或描边图形。要创建一个新模式,可以调用createPattern() 方法并传入两个参数:一个 HTML img 元素和一个表示如何重复图像的字符串。其中,第一个参数可以是image, video或者另一个canvas;第二个参数的值与 CSS 的 background-repeat 属性值相同,包括 "repeat" 、 "repeat-x" 、"repeat-y" 和 "no-repeat" 。</p>
        <p><span class="ext">2DFillRectPatternExample01.htm</span></p>
        <pre><code>
            var image = document.images[0],
                    pattern = context.creatPattern(image, "repeat");
            //绘制矩形
            context.fillStyle = pattern;
            context.fillRect(10, 10, 150, 150);
        </code></pre>
        <br>
    </div>
    <div id="10">
        <h4>2.10 使用图像数据</h4>
        <p>2D 上下文的一个明显的长处就是,可以通过 getImageData() 取得原始图像数据。这个方法接收
4 个参数:要取得其数据的画面区域的 x 和 y 坐标以及该区域的像素宽度和高度。</p>
        <p><span class="ext">2DImageDataExample01.htm</span></p>
        <pre><code>
                var drawing8 = document.getElementById("drawing8");
                if (drawing8.getContext) {
                    var context = drawing8.getContext("2d"),
                            image = document.image[0],
                            imageData, data,
                            i, len, average, red, green,
                            blue, alpha;

                            //绘制原始图像
                            context.drawImage(image, 0, 0);

                            //获取图像数据
                            imageData = context.getImageData(0, 0, image.width, image.height);
                            data = imageData.data;

                            for (i=0, len=data.length; i < len; i+=4) {
                                red = data[i];
                                green = data[i+1];
                                blue = data[i+2];
                                alpha  = data[i+3];

                                //求得rgb平均值
                                average = Math.floor((red + green + blue) / 3);

                                //设置颜色值,透明度不变
                                data[i] = average;
                                data[i+1] =average;
                                data[i+2] =average;
                            }

                            //回写头像数据,显示结果
                            imageData.data = data;
                            context.putImageData(imageData, 0, 0);
                }
        </code></pre>
        <p>这个例子首先在画面上绘制了一幅图像,然后取得了原始图像数据。其中的 for 循环遍历了图像数
据中的每一个像素。这里要注意的是,每次循环控制变量 i 都递增 4。在取得每个像素的红、绿、蓝颜色值后,计算出它们的平均值。再把这个平均值设置为每个颜色的值,结果就是去掉了每个像素的颜色,只保留了亮度接近的灰度值(即彩色变黑白)。在把 data 数组回写到 imageData 对象后,调用putImageData() 方法把图像数据绘制到画布上。最终得到了图像的黑白版。</p>
        <br>
    </div>
    <div id="11">
        <h4>2.11 合成</h4>
        <p>还有两个会应用到 2D 上下文中所有绘制操作的属性: globalAlpha 和 globalComposition-
Operation 。其中, globalAlpha 是一个介于 0 和 1 之间的值(包括 0 和 1),用于指定所有绘制的透明度。默认值为 0。如果所有后续操作都要基于相同的透明度,就可以先把 globalAlpha 设置为适当值,然后绘制,最后再把它设置回默认值 0。</p>
        <p><span class="ext">2DGlobalAlphaExample01.htm</span></p>
        <pre><code>
            //绘制红色矩形
            context.fillStyle = "#f00";
            context.fillRect(10, 10, 50, 50);

            //修改全局透明度
            context.globalAlpha = 0.5;

            //绘制蓝色矩形
            context.fillStyle = "rgba(0, 0, 255, 1)";
            context.fillRect(30, 30, 50, 50);

            //重设全局透明度
            context.globalAlpha = 0;
        </code></pre>
        <p>第二个属性 globalCompositionOperation 表示后绘制的图形怎样与先绘制的图形结合。这个属性的值是字符串,可能的值如下。</p>
        <ul>
            <li>source-over (默认值)</li>
            <p class="grey">后绘制的图形位于先绘制的图形上方。</p>
            <li>source-in</li>
            <p class="grey">后绘制的图形与先绘制的图形重叠的部分可见,两者其他部分完全透明。</p>
            <li>source-out </li>
            <p class="grey">后绘制的图形与先绘制的图形不重叠的部分可见,先绘制的图形完全透明。</p>
            <li>source-atop</li>
            <p class="grey">后绘制的图形与先绘制的图形重叠的部分可见,先绘制图形不受影响。</p>
            <li>destination-over</li>
            <p class="grey">后绘制的图形位于先绘制的图形下方,只有之前透明像素下的部分才可见。</p>
            <li>destination-in</li>
            <p class="grey">后绘制的图形位于先绘制的图形下方,两者不重叠的部分完全透明。</p>
            <li>destination-out</li>
            <p class="grey">后绘制的图形擦除与先绘制的图形重叠的部分。</p>
            <li>destination-atop </li>
            <p class="grey">后绘制的图形位于先绘制的图形下方,在两者不重叠的地方,先绘制的图形会变透明。</p>
            <li>lighter</li>
            <p class="grey">后绘制的图形与先绘制的图形重叠部分的值相加,使该部分变亮。</p>
            <li>copy</li>
            <p class="grey">后绘制的图形完全替代与之重叠的先绘制图形。</p>
            <li>xor </li>
            <p class="grey">后绘制的图形与先绘制的图形重叠的部分执行“异或”操作。</p>
        </ul>
        <p>所有实例:<a href="https://developer.mozilla.org/samples/canvas-tutorial/6_1_canvas_composite.html">Firefox Samples</a></p>
        <p><span class="ext">2DGlobalCompositeOperationExample01.htm</span></p>
        <pre><code>
            //绘制红色矩形
            context.fillStyle = "#f00";
            context.fillRect(10, 10, 50, 50);

            //设置合成操作
            context.globalCompositeOperation = "destination-over";

            //绘制蓝色矩形
            context.fillStyle = "rgba(0, 0, 255, 1)";
            context.fillRect(30, 30, 50, 50);
        </code></pre>
        <br>
    </div>
    <div id="footer">
        <p><a href="#0">返回顶端</a></p>
    </div>
</div>
{% endblock %}
{% block myjs %}
  <script>
      var drawing = document.getElementById("drawing");
  //确定浏览器支持canvas元素
  if (drawing.getContext) {
      var context = drawing.getContext("2d");

      /*
       * 根据 Mozilla 的文档
       * http://developer.mozilla.org/en/docs/Canvas_tutorial:Basic_usage
       */

      //绘制红色矩形
      context.fillStyle = "#ff0000";
      context.fillRect(10,10,50,50);

      //绘制半透明的蓝色矩形
      context.fillStyle = "rgba(0, 0, 255, 0.5)";
      context.fillRect(30, 30, 50, 50);

      //绘制红色边框
      context.strokeStyle = "#f00";
      context.strokeRect(81, 81, 50, 50);

      //绘制蓝色半透明边框
      context.strokeStyle = "rgba(0, 0, 255, 0.5)";
      context.strokeRect(132, 132, 50, 50);

      //清除矩形
      context.clearRect(40, 40, 10, 10);
  }

  var drawing2 = document.getElementById("drawing2");

  //确定浏览器支持canvas
  if (drawing2.getContext) {
    var context = drawing2.getContext("2d");

    //开始路径
    context.beginPath();

    //绘制外圈
    context.arc(100, 100, 99, 0, 2*Math.PI, false);

    //绘制内圈
    context.moveTo(194, 100);
    context.arc(100, 100, 94, 0, 2*Math.PI, false);

    //绘制分针
    context.moveTo(100, 100);
    context.lineTo(100, 15);

    //绘制时针
    context.moveTo(100, 100);
    context.lineTo(35, 100);

    //描边路径
    context.stroke();

    //text
    context.font = "bold 14px Arial";
    context.textAlign = "center";
    context.textBaseline = "middle";
    context.fillText("12", 100, 20);
  }
    var drawing3 = document.getElementById("drawing3");

    //确认浏览器支持canvas
    if (drawing3.getContext) {
    var context = drawing3.getContext("2d");

    //开始路径
    context.beginPath();

    //绘制外圈
    context.arc(100, 100, 99, 0, 2 * Math.PI, false);

    //绘制内圈
    context.moveTo(194, 100);
    context.arc(100, 100, 94, 0, 2 * Math.PI, false);

    //变换原点
    context.translate(100, 100);

    //旋转表针
    context.rotate(1);

    //绘制分针
    context.moveTo(0, 0);
    context.lineTo(0, -85);

    //绘制时针
    context.moveTo(0, 0);
    context.lineTo(-65, 0)

    //描边路径
    context.stroke();
    }

    var drawing4 = document.getElementById("drawing4");

    if (drawing4.getContext) {
        var context = drawing4.getContext("2d");
        context.fillStyle = "#f00";
        context.save();

        context.fillStyle = "#0f0";
        context.translate(100, 100);
        context.save();

        context.fillStyle ="#00f";
        context.fillRect(0, 0, 100, 200); //从点(100, 100) 开始绘制矩形

        context.restore();
        context.fillRect(10, 10, 100, 200); //从点(100, 100)开始绘制绿色矩形

        context.restore();
        context.fillRect(0, 0, 100, 200); //从点(0, 0)开始绘制红色矩形.
    }
  </script>
  <script>
    var drawing5 = document.getElementById("drawing5");

    if (drawing5.getContext) {
        var context = drawing5.getContext("2d");
        //设置阴影
        context.shadowOffsetX = 5;
        context.shadowOffsetY = 5;
        context.shadowBlur = 4;
        context.shadowColor = "rgba(0, 0, 0, .5)";

        //绘制红色矩形
        context.fillStyle = "#ff0000";
        context.fillRect(10, 10, 50, 50);

        //绘制蓝色矩形
        context.fillStyle = "rgba(0, 0, 255, 1)";
        context.fillRect(30, 30, 50, 50);



    }

    var drawing6 = document.getElementById("drawing6");
    if (drawing6.getContext) {
        var context = drawing6.getContext("2d");
        console.log("here");
        var gradient = context.createLinearGradient(30, 30, 70, 70);
        gradient.addColorStop(0, "white");
        gradient.addColorStop(1, "black");

         //绘制红色矩形
        context.fillStyle = "#ff0000";
        context.fillRect(10, 10, 50, 50);

        //绘制渐变矩形
        context.fillStyle = gradient;
        context.fillRect(30, 30, 50, 50);
    }

    var drawing7 = document.getElementById("drawing7");
    if (drawing7.getContext) {
        var context = drawing7.getContext("2d");
        var gradient = context.createRadialGradient(55, 55, 10, 55, 55, 30);
        gradient.addColorStop(0, "white");
        gradient.addColorStop(1, "black");

        //绘制红色矩形
        context.fillStyle = "#ff0000";
        context.fillRect(10, 10, 50, 50);

        //绘制渐变矩形
        context.fillStyle = gradient;
        context.fillRect(30, 30, 50, 50);
    }
  </script>
  <script>
    var drawing8 = document.getElementById("drawing8");
    if (drawing8.getContext) {
        var context = drawing8.getContext("2d"),
                image = document.image[0],
                imageData, data,
                i, len, average, red, green,
                blue, alpha;

                //绘制原始图像
                context.drawImage(image, 0, 0);

                //获取图像数据
                imageData = context.getImageData(0, 0, image.width, image.height);
                data = imageData.data;

                for (i=0, len=data.length; i < len; i+=4) {
                    red = data[i];
                    green = data[i+1];
                    blue = data[i+2];
                    alpha  = data[i+3];

                    //求得rgb平均值
                    average = Math.floor((red + green + blue) / 3);

                    //设置颜色值,透明度不变
                    data[i] = average;
                    data[i+1] =average;
                    data[i+2] =average;
                }

                //回写头像数据,显示结果
                imageData.data = data;
                context.putImageData(imageData, 0, 0);
    }
  </script>
{% endblock %}
