{% extends "chapter06/base.html" %}
{% block chapter_no %}06{% endblock %}
{% block exercise_no %}_list{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
  <div class="right">
    <br>
    <p>每个对象都可以是引用类型，也可以时开发人员定义的类型。</p>
    <pre><code>
    ECMA-262 把对象定义为:“无序属性的集合,属性可以包含基本值、对象或者函数。”
    </code></pre>
  <p>面向对象(Object-Oriented,OO)的语言有一个标志,那就是它们都有类的概念,而通过类可以创建任意多个具有相同属性和方法的对象。前面提到过,ECMAScript 中没有类的概念,因
此它的对象也与基于类的语言中的对象有所不同。</p>
  </div>
{% endblock %}
{% block myjs %}
{% endblock %}
