<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_13' %}">简介</a></li>
    <li id="content"><a href="{% url "ex1301" %}">时间流</a></li>
    <li id="content"><a href="{% url "ex1302" %}">事件处理程序</a></li>
    <li id="content"><a href="{% url "ex1303" %}">事件对象</a></li>
    <li id="content"><a href="{% url "ex1304" %}">事件类型</a></li>
    <li id="content"><a href="{% url "ex1305" %}">内存和性能</a></li>
    <li id="content"><a href="{% url "ex1306" %}">模拟事件</a></li>
    <li id="content"><a href="{% url "ex1307" %}">小结</a></li>
    <li id="main_page"><a href="/">主页</a></li>
  </ul>
</div>
