{% extends "chapter16/base.html" %}
{% block chapter_no %}16{% endblock %}
{% block exercise_no %}_list{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
<div class="right">
    <div id="0">
        <h3>本章内容</h3>
        <ul>
            <li>使用跨文档传递消息</li>
            <li>拖放API</li>
            <li>音频与视频</li>
        </ul>
        <p>本书前面讨论过,HTML5 规范定义了很多新 HTML 标记。为了配合这些标记的变化,HTML5规范也用显著篇幅定义了很多 JavaScript API。定义这些 API 的用意就是简化此前实现起来困
难重重的任务,最终简化创建动态 Web 界面的工作。</p>
    </div>
</div>
{% endblock %}
{% block myjs %}
{% endblock %}
