<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_16' %}">简介</a></li>
    <li id="content"><a href="{% url 'ex1601' %}">跨文档消息传递</a></li>
    <li id="content"><a href="{% url 'ex1602' %}">原生拖放</a></li>
    <li id="content"><a href="{% url 'ex1603' %}">媒体元素</a></li>
    <li id="content"><a href="{% url 'ex1604' %}">历史状态管理</a></li>
    <li id="content"><a href="{% url 'ex1605' %}">小结</a></li>
    <li id="main_page"><a href="/">主页</a></li>
  </ul>
</div>
