{% extends "chapter19/base.html" %}
{% block chapter_no %}19{% endblock %}
{% block exercise_no %}_list{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
<div class="right">
    <div id="0">
        <h3>本章内容</h3>
        <ul>
            <li>E4X 新增的类型</li>
            <li>使用 E4X 操作 XML</li>
            <li>语法的变化</li>
        </ul>
    </div>
    <div>
            <h3>小结</h3>
        <p>E4X 是以 ECMA-357 标准的形式发布的对 ECMAScript 的一个扩展。E4X 的目的是为操作 XML 数
据提供与标准 ECMAScript 更相近的语法。E4X 具有下列特征。</p>
        <ul>
            <li>与 DOM 不同,E4X 只用一个类型来表示 XML 中的各种节点。</li>
            <li>XML 对象中封装了对所有节点都有用的数据和行为。为表现多个节点的集合,这个规范定义了
XMLList 类型。</li>
            <li>另外两个类型, Namespace 和 QName ,分别表现命名空间和限定名。为便于查询 XML 结构,E4X 还修改了标准了的 ECMAScript 语法,修改的地方如下。</li>
            <li>使用两个点( .. )表示要匹配所有后代元素,使用 @ 字符表示应该返回一或多个特性。</li>
            <li>星号字符( * )是一个通配符,可以匹配任意类型的节点。</li>
            <li> 所有这些查询都可以通过一组执行相同操作的方法来实现。</li>
        </ul>

        <p>到 2011 年底, Firefox 还是唯一一个支持 E4X 的浏览器。尽管没有其他浏览器提供商承诺会实现 E4X,但在服务器上,由于 BEA Workshop for WebLogic 和 Yhaoo! YQL 的推动,E4X 已经取得了不小的成功。</p>
    </div>
</div>
{% endblock %}
{% block myjs %}
{% endblock %}
