<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_11' %}">简介</a></li>
<!--     <li id="content"><a href="{% url "ex1101" %}">递归</a></li>
    <li id="content"><a href="{% url "ex1102" %}">闭包</a></li>
    <li id="content"><a href="{% url "ex1103" %}">模仿块级作用域</a></li>
    <li id="content"><a href="{% url "ex1104" %}">私有变量</a></li>
    <li id="content"><a href="{% url "ex1105" %}">小结</a></li> -->
    <li id="main_page"><a href="/">主页</a></li>
  </ul>
</div>
