{% extends "chapter22/base.html" %}
{% block chapter_no %}22{% endblock %}
{% block exercise_no %}_list{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
<div class="right">
    <div id="0">
        <h3>本章内容</h3>
        <ul>
            <li>使用高级函数</li>
            <li>防篡改对象</li>
            <li>Yielding Timers</li>
        </ul>
        <p>JavaScript是一种极其灵活的语言,具有多种使用风格。一般来说,编写JavaScript要么使用过程方式, 要么使用面向对象方式.然而, 由于它们天生的动态属性,这种语言还能使用更为复杂和有趣的模式.这些技巧要利用ECMAScript的语言特点,BOM扩展和DOM功能来获取强大的效果.</p>
    </div>
</div>
{% endblock %}
{% block myjs %}
{% endblock %}
