<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_22' %}">简介</a></li>
    <li id="content"><a href="{% url 'ex2201' %}">高级函数</a></li>
    <li id="content"><a href="{% url 'ex2202' %}">防篡改对象</a></li>
    <li id="content"><a href="{% url 'ex2203' %}">高级定时器</a></li>
    <li id="content"><a href="{% url 'ex2204' %}">自定义事件</a></li>
    <li id="content"><a href="{% url 'ex2205' %}">拖放</a></li>
    <li id="content"><a href="{% url 'ex2206' %}">小结</a></li>
    <li id="main_page"><a href="/">主页</a></li>
  </ul>
</div>
