<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_07' %}">简介</a></li>
    <li id="content"><a href="{% url "ex0701" %}">递归</a></li>
    <li id="content"><a href="{% url "ex0702" %}">闭包</a></li>
    <li id="content"><a href="{% url "ex0703" %}">模仿块级作用域</a></li>
    <li id="content"><a href="{% url "ex0704" %}">私有变量</a></li>
    <li id="content"><a href="{% url "ex0705" %}">小结</a></li>
    <li id="main_page"><a href="/">返回主页</a></li>
  </ul>
</div>
