{% extends "chapter05/base.html" %}
{% block chapter_no %}05{% endblock %}
{% block exercise_no %}{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
  <div id="0">
    <h3>4 RepExp 类型</h3>
    <p>正则表达式的基本格式是:</p>
    <p>var expression = / pattern / flags;</p>
    <p>说明:</p>
    <ul>
      <li>pattern:包含任何正则表达式</li>
      <li>flags:每个正则表达式可以又一个或者多个标志,来表明行为
        <ul>
          <li>g:全局模式,模式被用于所有字符串.</li>
          <li>i:case-insensitive模式,忽略大小写.</li>
          <li>m:表示多行模式,在到达一行结尾处还会匹配下一行中是否有匹配的项.</li>
        </ul>
      </li>
    </ul>
    <p>以下字符必须转义:</p>
    <pre><code>
      ( [ { \ ^ $ | ? * + . } ] )
    </code></pre>
    <p>以下功能相同:</p>
    <pre><code>
      /*
       * 匹配第一个"bat"或者"cat", 不区分大小写
       */
      var pattern1 = /[bc]at/i;
      /*
       * 与pattern1相同, 只不过是使用构造函数创建的
       */
      var pattern2 = new RegExp("[bc]at", "i");
      注意:传个RegExp的参数也必须是字符串,必须对所有元字符转义,即使是已经转义之后的.
    </code></pre>
  </div>
  <div id="1">
    <h4>4.1 RegExp实例属性</h4>
    <p>RegExp每个实例都具有如下属性, 通过这些属性可以取得有关模式的各种信息:</p>
    <ul>
      <li>global:表示是否设置了g标志</li>
      <li>ignoreCase:表示是否设置了i标志</li>
      <li>lastIndex:并表示开始搜索下一个匹配项的字符位置,从</li>
      <li>multiline:表示是否是设置了m标志</li>
      <li>source:正则表达式的字符串表示，按照字面量形式而非传入构造函数中的字符串返回</li>
    </ul>
    <p>这些信息包含模式声明中:</p>
    <div><span class="ext"></span></div>
    <pre><code>
      var pattern1 = /\[bc\]at/i;
      pattern1.global, pattern1.source...
    </code></pre>
  </div>
  <div id="2">
    <h4>RegExp 实例方法</h4>

    <p>RegExp 的第一个方法是exec(),该方法是专门为了捕获组而设计的.</p>
    <p>exec()接受一个参数,然后返回第一个包含匹配信息的数组.或者在没有匹配的情况下返回null</p>

    <p>返回的数组,虽然是array的实例,却增加了额外两个属性:index和input</p>

    <p>index:返回匹配的位置,input:应用正则表达式的字符串</p>
    <p><span>RegExpExecExample01.html</span></div>
    <pre><code>
      var text = "mom and dad and baby";
      var pattern = /mom( and dad( and bay?)?/gi;

      var matches = pattern.exec(text);
      matches.index //0
      matches.input // "mom and dad and baby"
      matches[0] // "mom and dad and baby"
      matches[1] // " and dad and baby"
      matches[2] // " and baby"
    </code></pre>
    <p>正则表达式的第二个方法是test()方法,它接受一个字符串,匹配返回true,否则返回false</p>
    <div><span class="ext">RegExpExeExample02.html</span></div>
    <pre><code>
      var text = "000-00-0000";
      var pattern = /\d{3}-d{2}-\d{4}/;
      if(pattern.test(text)){
        alert("The pattern was matched.")
      }
    </code></pre>
  </div>
  <div id="3">
    <h4>RegExp 构造函数属性</h4>
    <p>opera不支持短属性</p>
    <table>
      <tr>
      <th style="text-align: center;width: 100px;">长属性名</th>
      <th style="width:100px; text-align: center">段属性名</th>
      <th style="text-align: center; width: 300px;">作用</th>
      </tr>
    <tr>
      <td>input</td>
      <td>$_</td>
      <td>最近一次要匹配的内容</td>
    </tr>
    <tr>
      <td>lastMatch</td>
      <td>$&</td>
      <td>最近一次要匹配的项</td>
    </tr>
    <tr>
      <td>lastParen</td>
      <td>$+</td>
      <td>最近一次匹配的捕获组</td>
    </tr>
    <tr>
      <td>leftContext</td>
      <td>$`</td>
      <td>input字符串中lastMatch之前的文本</td>
    </tr>
    <tr>
      <td>multiline</td>
      <td>$*</td>
      <td>布尔值,表示所有表达式是否都用多行模式</td>
    </tr>
    <tr>
      <td>rightContext</td>
      <td>$'</td>
      <td>与left相反</td>
    </tr>
    </table>

    <p>此外,还有9个缓冲区可以使用</p>
    <div><span class="ext">RegExpConstructorPropertiesExample03.html</span></div>
    <pre><code>
      var text = "this has been a short summer";
      var pattern = /(..)or(.)/g;
      if(pattern.test(text)){
        RegExp.$1; // sh
        RegExp.$2; // t
      }
    </code></pre>
  </div>
  <div id="4">
    <h4>模式的局限性</h4>
    <a href="www.regluar-expressions.info">正则表达式</a>
  </div>
{% endblock %}
{% block myjs %}
{% endblock %}
