<div id="list">
  <ul id="content_list">
    <li id="introduce"><a href="{% url 'chapter_05' %}">简介</a></li>
    <li id="content"><a href="{% url "ex0501" %}">Object类型</a></li>
    <li id="content"><a href="{% url "ex0502" %}">Array类型</a></li>
    <li id="content"><a href="{% url "ex0503" %}">Date类型</a></li>
    <li id="content"><a href="{% url "ex0504" %}">RegExp类型</a></li>
    <li id="content"><a href="{% url "ex0505" %}">Function类型</a></li>
    <li id="content"><a href="{% url "ex0506" %}">基本包类型</a></li>
    <li id="content"><a href="{% url "ex0507" %}">单体内置对象</a></li>
    <li id="main_page"><a href="/">返回主页</a></li>
  </ul>
</div>
