<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_14' %}">简介</a></li>
    <li id="content"><a href="{% url 'ex1401' %}">表单的基础</a></li>
    <li id="content"><a href="{% url 'ex1402' %}">文本框脚本</a></li>
    <li id="content"><a href="{% url 'ex1403' %}">选择框脚本</a></li>
    <li id="content"><a href="{% url 'ex1404' %}">表单序列化</a></li>
    <li id="content"><a href="{% url 'ex1405' %}">富文本编辑</a></li>
    <li id="content"><a href="{% url 'ex1406' %}">小结</a></li>
    <li id="main_page"><a href="/">主页</a></li>
  </ul>
</div>
