{% extends "chapter09/base.html" %}
{% block chapter_no %}09{% endblock %}
{% block exercise_no %}04{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
<div class="right">
    <div id="0">
        <h3>小结</h3>
        <p>客户端检测是 JavaScript 开发中最具争议的一个话题。由于浏览器间存在差别,通常需要根据不同
浏览器的能力分别编写不同的代码。</p>
        <p>在决定使用哪种客户端检测方法时,一般应优先考虑使用能力检测。怪癖检测是确定应该如何处理
代码的第二选择。而用户代理检测则是客户端检测的最后一种方案,因为这种方法对用户代理字符串具
有很强的依赖性。</p>
    </div>
</div>
{% endblock %}
{% block myjs %}
  <script>
  </script>
{% endblock %}
