<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/mycss.css">
    <title>elements</title>
</head>
<body>
<div id="list">
    <ul>
        <li><h3>tables</h3></li>
    </ul>
</div>
<div id="tab">
    <p>--------------table-------------------</p>
    <table>
    <thead>
        <tr>
        <th>标题一</th>
        <th>标题二</th>
        <th>标题三</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2-1</td>
            <td>2-2</td>
            <td>2-3</td>
        </tr>
        <tr>
            <td>3-1</td>
            <td>3-2</td>
            <td>3-3</td>
        </tr>
    </tbody>
</table>
</div>

</body>
</html>
