{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RichText</title>
    <script src="{% static 'js/custom/EventUtil.js' %}"></script>
</head>
<body>
<h2>Blank Page for Rich Text Editing</h2>
<iframe src="{% url 'elements_blank' %}" name="richtext" style="height: 450px;width: 800px;border-color: #000;"></iframe>
<script type="text/javascript">
EventUtil.addHandler(window, "load", function() {
    console.log("effect!!");
    frames["richtext"].document.designMode = "on";
});
</script>
</body>
</html>
