{% extends "chapter17/base.html" %}
{% block chapter_no %}17{% endblock %}
{% block exercise_no %}05{% endblock %}
{% block mycss %}{% endblock %}
{% block content %}
<div class="right">
    <div id="title">
        <h3>小结</h3>
        <p>错误处理对于今天复杂的 Web 应用程序开发而言至关重要。不能提前预测到可能发生的错误,不
能提前采取恢复策略,可能导致较差的用户体验,最终引发用户不满。多数浏览器在默认情况下都不会
向用户报告错误,因此在开发和调试期间需要启用浏览器的错误报告功能。然而,在投入运行的产品代
码中,则不应该再有诸如此类的错误报告出现。</p>
        <p>下面是几种避免浏览器响应 JavaScript 错误的方法。</p>
        <ul>
            <li>在可能发生错误的地方使用 try-catch 语句,这样你还有机会以适当的方式对错误给出响应,
而不必沿用浏览器处理错误的机制。</li>
            <li>使用 window.onerror 事件处理程序,这种方式可以接受 try-catch 不能处理的所有错误(仅
限于 IE、Firefox 和 Chrome)。</li>
        </ul>
        <p>另外,对任何 Web 应用程序都应该分析可能的错误来源,并制定处理错误的方案。</p>
        <ul>
            <li>首先,必须要明确什么是致命错误,什么是非致命错误。</li>
            <li>其次,再分析代码,以判断最可能发生的错误。JavaScript 中发生错误的主要原因如下。
                <ul>
                    <li>类型转换</li>
                    <li>未充分检测数据类型</li>
                    <li>发送给服务器或从服务器接收到的数据有错误</li>
                </ul>
            </li>
        </ul>
        <p>IE、Firefox、Chrome、Opera 和 Safari 都有 JavaScript 调试器,有的是内置的,有的是以需要下载的扩展形式存在的。这些调试器都支持设置断点、控制代码执行及在运行时检测变量的值。</p>
    </div>
    <div id="footer">
        <p><a href="#title">返回顶端</a></p>
    </div>
</div>
{% endblock %}
{% block myjs %}
  <script>
  </script>
{% endblock %}
