<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_17' %}">简介</a></li>
    <li id="content"><a href="{% url 'ex1701' %}">浏览器报告错误</a></li>
    <li id="content"><a href="{% url 'ex1702' %}">错误处理</a></li>
    <li id="content"><a href="{% url 'ex1703' %}">调试技术</a></li>
    <li id="content"><a href="{% url 'ex1704' %}">场景的IE错误</a></li>
    <li id="content"><a href="{% url 'ex1705' %}">小结</a></li>
    <li id="main_page"><a href="/">主页</a></li>
  </ul>
</div>
