<div id="list" class="left">
  <ul class="left" id="content_list">
    <li id="introduce"><a href="{% url 'chapter_08' %}">简介</a></li>
    <li id="content"><a href="{% url "ex0801" %}">window 对象</a></li>
    <li id="content"><a href="{% url "ex0802" %}">location 对象</a></li>
    <li id="content"><a href="{% url "ex0803" %}">navigator 对象</a></li>
    <li id="content"><a href="{% url "ex0804" %}">screen 对象</a></li>
    <li id="content"><a href="{% url "ex0805" %}">history 对象</a></li>
    <li id="content"><a href="{% url "ex0806" %}">小结</a></li>
    <li id="main_page"><a href="/">返回主页</a></li>
  </ul>
</div>
